<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>IHeartFoood</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',
filename='icons/favicon.png') }}">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <script>
    // Register service worker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('ServiceWorker registration successful with scope:', registration.scope);
                    })
                    .catch(err => {
                        console.error('ServiceWorker registration failed: ', err);
                    });
            });
        }
        </script>

</head>
<body>
    
<div class="header">
    <div class="header-top">
        <h1>IHeartFoood</h1>
        <div class="nav-links">
            <a href="{{ url_for('index') }}" class="nav-button">Home</a>
            <a href="{{ url_for('building') }}" class="nav-button">Recipe Score</a>
        </div>
    </div>
    {% if session.user_id %}
    <div>
        Hello, {{session.username}}
        <a href="{{url_for('logout') }}" class="logout-button">Logout</a>
    </div>
    {% endif %}
</div>

        <div class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="message {% if category == 'error' %}error{% else %}success{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        </div>
</body>
</html>
