{% extends "base.html" %} 
{% block content %} 
{% if session['user_id'] %}

<h1 class="centered">{{ entry.title }}</h1>

<div class="entry">
    <img src="{{ url_for('static', filename=entry.image_path) }}" alt="{{ entry.title }}">
    <p>{{ entry.description }}</p>
    <p>Quantity: {{ entry.quantity }}</p>
    <p>Expiry Date: {{ entry.expiry_date }}</p>
    <p>Calories: {{ entry.calories }}</p>
    <p>Protein: {{ entry.protein }}g</p>
    <p>Sugar: {{ entry.sugar }}g</p>
    <p>Sodium: {{ entry.sodium }}mg</p>
    <p>Saturated Fat: {{ entry.saturated_fat }}g</p>

    <a href="{{ url_for('index') }}" class="nav-button">Back</a>
</div>

{% endif %}
{% endblock %}